.list-container{
    list-style-type:none;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.list{
    background-color:#ffffff;
    border-width:0px;
    border-radius:5px;
    color:#000000;
    padding:10px;
    min-width:250px;
}

.task-btn{
    border:none;
    background:transparent;
    outline:none;
}
.task-list{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
li{
    margin-bottom:10px;
}
.input-task{
    display:flex;
    justify-content:center;
    align-items:center;
}